DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=

ADMIN_EMAIL=
ADMIN_PASSWORD=

ConnectionStrings__AuthPostgresWriteDb=Host=${DB_HOST};Port=${DB_PORT};Database=${DB_NAME};Username=${DB_USER};Password=${DB_PASSWORD};

GOOGLE__ClientId=