services:
  backend:
    container_name: backend
    build:
      context: ../backend
      dockerfile: ./Casino.Bootstrap/Dockerfile
    ports:
      - "8000:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    depends_on:
      - postgres_db
    env_file:
      - ./base.env

  postgres_db:
    container_name: postgres
    image: postgres:17
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - casino_write_db_data:/var/lib/postgresql/data
    env_file:
      - ./base.env
    networks:
      - casino-net
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 5s

  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4:latest
    ports:
      - "5050:80"
    depends_on:
      - postgres_db
    env_file:
      - ./base.env
    networks:
      - casino-net

  redis:
    container_name: redis
    image: redis:latest
    ports:
      - "6379:6379"
    env_file:
      - ./base.env
    networks:
      - casino-net
  
  # mongo_db:
  #   image: mongo:latest
  #   container_name: mongo_db
  #   ports:
  #     - "27017:27017"
  #   volumes:
  #     - mongo_data:/data/db
  #   networks:
  #     - casino-net

volumes:
  # mongo_data: {}
  casino_write_db_data: {}

networks:
  casino-net:
    external: true
